/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2021, 3:34:24 PM
    Author     : MR TU
*/

.all{
    border: solid 2px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    float: left;
    background-color: #0dde83;
}
.item{
    padding: 5px;
}
.name{
    text-align: center;
}